/*html,body {
	margin: 10;
  	background-color: #CCC;
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

body {
     /* padding-bottom: 40px;*/
      color: #5a5a5a;
}
#title{

}
#historyMsg {
}
#textInput{
}
/*
#container{
	background-color: bisque;
}

#localVideo{
	width: 400px;
	height: 300px;
	margin: 10px 600px 50px 100px;

}

.msg{
	height:100px;
	background-color:#345678;
	padding:2px;
}
*/
p{
  color: #00B7FF;
}
.carousel img {
	width: auto;
	height: 500px;
}
